include _partial/helpers

if page.title
  - var current_title = page.title
else
  - var current_title = config.title

if config.feed
  case config.feed.type
    when 'rss2'
      - var feed_type='application/rss+xml'
    when 'atom'
    default
      - var feed_type='application/atom+xml'

doctype html
html(lang='#{config.language}')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='black-translucent', name='apple-mobile-web-app-status-bar-style')
    meta(content='telephone=no', name='format-detection')
    meta(name='description', content=config.description)
    block title
    link(rel='stylesheet', type='text/css', href=url_for(theme.css) + '/style.css' + '?v=' + theme.version)
    link(rel='stylesheet', href=url_for(theme.css) + '/font-awesome.min.css')
    link(rel='Shortcut Icon', type='image/x-icon', href=url_for('favicon.ico'))
    link(rel='apple-touch-icon', href=url_for('apple-touch-icon.png'))
    link(rel='apple-touch-icon-precomposed', href=url_for('apple-touch-icon.png'))
    if config.feed
      link(rel='alternate', type=feed_type, href=url_for(config.feed.path))

  body
    header.header
      .container
        .header-left
          a.header-item(href=url_for('.'))
            strong= config.title
        .header-right
          - for (var i in theme.menu)
            +a_with_current(theme.menu[i].directory, __(theme.menu[i].page), theme.menu[i].icon)
    
    if(is_home() && theme.hero)
      section.hero(class=[theme.hero.class])
        .hero-content
          .container
            if(theme.hero.title)            
              h1.title.is-1= theme.hero.title
            if(theme.hero.subtitle)            
              h2.subtitle.is-3= theme.hero.subtitle
            if(theme.hero.content)   
              != renderPage(theme.hero.content)


    section.section
      .container
        .columns
          if(is_archive() || is_post() || is_tag() || is_category()) 
            .column.is-9
              block content
          else
            .column
              block content
          if(is_archive() || is_post() || is_tag() || is_category())
            .column.is-3
              #sidebar
                each item in theme.widgets
                  != partial('_widget/' + item + '.jade')
    include _partial/footer
